html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    /* color: #dfdfdf */
    font-size: 1rem;
}

body a:hover {
    /* color: #cdcdcd */
}

.title {
    font-size: 2rem;
    font-weight: 400
}

.subtitle {
    font-size: 1.2rem
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: black;
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: .8rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: .8rem
}

.nav-link:active, .nav-link:focus, .nav-link:hover{
    background-color: #fff !important;
    color: black !important;
}

.nav-item .dropdown-item:hover, .nav-item .dropdown-item:focus, .nav-item .dropdown-item:active  {
    background-color: #343a40 !important;
    color: white !important;
}

.footer,
.header,
.nav {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

.main {
    flex: 1 0 auto
}
